@inject SignInManager<ApplicationUser> _signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">PieShop</a>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-controller="Feedback" asp-action="Index">FeedBack</a>
                </li>
               @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
               {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="account" asp-action="Index" >User Managment</a>
                        <a asp-controller="account" asp-action="getroles" class="dropdown-item" >Role Managment</a>
                    </div>
                </li>
               }

            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <partial name="_LoginPartial.cshtml" />
                </li>
            </ul>
        </nav>

    
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false);
</body>
</html>
